body{background-image: url(../img/bg_1.jpg);
	background-size: cover;
}
.LoR {
	height:350px;
	width:500px;
	margin:-200px auto;
	border:4px solid #a1a1a1;
	background-color: rgba(0, 0, 0, 0.4);
	position:absolute;
	top:50%;
	left:30%;
	padding:20px 15px;
	border-radius:15px;
	z-index:5;
	box-shadow: 10px 10px 5px #888888;
	color: #ffffff;
}
.form-liebiao input[type="text"], .form-liebiao input[type="password"], .form-liebiao input[type="username"] {
    outline: none;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    padding: 12px 14px;
    width: 95.5%;
    border: none;
    border-bottom: 1px solid #ffffff;
    -webkit-appearance: none;
    margin-bottom: 30px;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}


input:-webkit-autofill {
    -webkit-animation: autofill-fix 1s infinite;
}

@-webkit-keyframes autofill-fix {
    from {
        background-color: transparent
    }
    to {
        background-color: transparent
    }
}
input::-moz-placeholder{
	color: white !important;
}
input::-moz-placeholder {  
　　color: white !important; 
}  
input:-moz-placeholder {  
　　color: white !important; 
}  
input::-ms-input-placeholder{
	color: white !important;
}
input::-webkit-input-placeholder{
	color: white !important;
}
